Options -Indexes

<IfModule mod_authz_core.c>
    <FilesMatch "\.(php|php[0-9]?|phtml|pl|py|jsp|asp|sh|cgi)$">
        Require all denied
    </FilesMatch>
</IfModule>

<IfModule !mod_authz_core.c>
    <FilesMatch "\.(php|php[0-9]?|phtml|pl|py|jsp|asp|sh|cgi)$">
        Deny from all
    </FilesMatch>
</IfModule>
